dl,dt,dd
{
	float: left;
}
dl
{
	margin-right: 50px;
}
dt
{
	margin-right: 10px;
}
.md-col
{
	width: 80%;
	height: auto;
	overflow: auto;
	margin-left: 50px;
	margin-top: 50px;
}
.md-col-txt
{
	width: 250px;
	height: 20px;
}
.md-col-sub
{
	margin-left: 150px;
	width: 80px;
	height:25px;
	box-sizing: content-box;
	border: none;
	outline: none;
}