<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>商家认证</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>窝立方-认证</title>
	<div th:replace="fragments/resourceLink :: resourceLink"></div>
	<script type="text/javascript" th:src="@{/resources/js/uploadImage.js}" ></script>
	<script type="text/javascript" th:src="@{/resources/js/ImageFile.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/fileinput.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/plugins/loaders/pace.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/pages/form_layouts.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/select2.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/uniform.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/plugins/loaders/blockui.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/uploader_bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/business.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/sign.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="page-container" style="min-height: 518px;">
	<div class="page-content">
		<div th:replace="fragments/left :: userLeftItem">&nbsp;</div>
		<div class="content-wrapper">
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">开始认证</span></h4>
						<a class="heading-elements-toggle"><i class="icon-more"></i></a>
					</div>
				</div>

			</div>

			<div class="content">

				<!-- Basic layout-->
				<form id="business_f" th:action="@{/saveBusinessAttestation}+'?_csrf='+${_csrf.token}" method="post" enctype="multipart/form-data" class="form-horizontal">
					<input type="hidden" name="token" th:value="${session.token}">
					<div class="panel panel-white r-panel-content">
						<div class="panel-heading">
							<h5 class="panel-title">认证信息<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
						</div>

						<div class="panel-body">
							<fieldset>
								<legend class="text-semibold">联系信息</legend>
								<div class="row">
									<div class="col-md-6" style="padding: 30px">
										<div class="form-group">
											<label >联系人:
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control" placeholder="公司联系人" name="contactName">
											<span class="help-block"></span>
										</div>
									</div>

									<div class="col-md-6" style="padding: 30px">
										<div class="form-group">
											<label>联系手机:
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control" placeholder="公司联系人手机" name="contactMobile">
											<span class="help-block" name="contactMobile" style="color: red;"></span>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6" style="padding: 30px">
										<div class="form-group">
											<label>联系邮箱:
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control" placeholder="联系邮箱" name="contactEmail">
											<span class="help-block" name="contactEmail" style="color: red;"></span>
										</div>
									</div>

									<div class="col-md-6" style="padding: 30px">
										<div class="form-group">
											<label>联系固话:
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control" placeholder="联系固话"  name="contactPhone">
											<span class="help-block" name="contactPhone" style="color: red;"></span>
										</div>
									</div>
								</div>
							</fieldset>

							<fieldset>
								<legend class="text-semibold">公司信息</legend>
								<div class="row">
									<div class="col-md-6" style="padding: 30px">
										<div class="form-group">
											<label>公司名称:
												<span class="text-danger">*</span>
											</label>
											<input type="text" class="form-control" placeholder="公司名称" name="companyName">
											<span class="help-block"></span>
										</div>
									</div>
									<div class="col-md-6" style="padding: 30px">
										<div class="form-group">
											<label>公司网站:</label>
											<input type="text" class="form-control" placeholder="公司网站" name="website">
											<!--<span class="help-block" name="website" style="color: red;"></span>-->
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-lg-3 control-label addressLabel">地址:
										<span class="text-danger">*</span>
									</label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="公司地址" name="companyAddress">
										<span class="help-block"></span>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-lg-3 control-label">经营类型 :
												<span class="text-danger">*</span>
											</label>
											<div class="col-lg-9">
												<select data-placeholder="Select your state" class="select" name="companyType">
														<option value="装修公司">装修公司</option>
														<option value="品牌电商">品牌电商</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<span class="help-block">经营类型一经确定，无法修改 </span>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-lg-3 control-label">营业执照号:
												<span class="text-danger">*</span>
											</label>
											<div class="col-lg-9">
												<input type="text" class="form-control" placeholder="营业执照号或信用代码(三证合一)" name="licenseNumber">
												<span class="help-block" name="licenseNumber" style="color: red"></span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<span class="help-block">如三证合一，请填写统一社会信用代码</span>
									</div>
								</div>

								<script type="text/javascript">
									$(function () {
										if($(window).width()>768)
										{
											$(".addressLabel").css("width","12%");
										}
									});
								</script>

								<div class="form-group">
									<label class="col-lg-2 control-label text-semibold">公司营业执照副本（盖章）:
										<span class="text-danger">*</span>
									</label>
									<div class="col-lg-10">
										<input type="file" class="file-input" name="uploadImg">
										<span class="help-block">支持格式: gif, png, jpg. 文件最大 2Mb.</span>
									</div>
								</div>
							</fieldset>


							<div class="text-right">
								<button type="button" class="btn btn-primary" id="business_submit">下一步 <i class="icon-arrow-right14 position-right"></i></button>
							</div>
						</div>
					</div>
				</form>
				<!-- /basic layout -->

			</div>
			<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
		</div>
	</div>
</div>

</body>
</html>
