<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>商家认证信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>窝立方-认证填写</title>
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <script type="text/javascript" th:src="@{/resources/js/uploadImage.js}" ></script>
    <script th:src="@{/resources/js/ImageFile.js}"></script>
    <script th:src="@{/resources/js/fileinput.min.js}"></script>
    <script th:src="@{/resources/js/uploader_bootstrap.js}"></script>
    <script th:src="@{/resources/js/pages/form_layouts.js}"></script>
    <style>
        .form-group label
        {
            font-size: 12px!important;
            color: #999!important;
        }
        .help-block
        {
            font-size: 17px!important;
            color:#333!important;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="page-container" style="min-height: 518px;">
    <div class="page-content">
        <div th:replace="fragments/left :: userLeftItem">&nbsp;</div>
        <div class="content-wrapper">
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">认证信息</span></h4>
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                    </div>
                </div>

            </div>

            <div class="content">

                <!-- Basic layout-->
                    <div class="panel panel-white r-panel-content">
                        <div class="panel-heading">
                            <h5 class="panel-title">认证信息<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                        </div>

                        <div class="panel-body" th:object="${CertificationList}">
                            <fieldset>
                                <legend class="text-semibold">联系信息</legend>
                                <div class="row">
                                    <div class="col-md-6" style="padding-left: 30px">
                                        <div class="form-group">
                                            <label >联系人:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <span class="help-block" th:text="*{contactName}"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6" style="padding-left: 30px">
                                        <div class="form-group">
                                            <label>联系手机:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <span class="help-block" th:text="*{contactMobile}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="padding-left: 30px">
                                        <div class="form-group">
                                            <label>联系邮箱:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <span class="help-block" th:text="*{contactEmail}"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6" style="padding-left: 30px">
                                        <div class="form-group">
                                            <label>联系固话:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <span class="help-block" th:text="*{contactPhone}"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend class="text-semibold">公司信息</legend>
                                <div class="row">
                                    <div class="col-md-6" style="padding-left: 30px">
                                        <div class="form-group">
                                            <label>公司名称:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <span class="help-block" th:text="*{companyName}"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 30px">
                                        <div class="form-group">
                                            <label>公司网站:</label>
                                            <span class="help-block" th:text="*{website}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-left: 15px">
                                    <label>地址:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <span class="help-block" th:text="*{companyAddress}" style="display: block;height: 34px"></span>
                                </div>

                                <div class="row" style="padding-left: 15px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>经营类型 :
                                                <span class="text-danger">*</span>
                                            </label>
                                            <span class="help-block" th:text="*{companyType}"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                    </div>
                                </div>

                                <div class="row" style="padding-left: 15px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>营业执照号:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <span class="help-block" th:text="*{licenseNumber}"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(function () {
                                        if($(window).width()>768)
                                        {
                                            $(".addressLabel").css("width","12%");
                                        }
                                    });
                                </script>
                                <div class="row" style="padding-left: 15px">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="clear: both">公司营业执照副本（盖章）:</label>
                                            <img data-th-src="|http://cdn-test.dodojia.cn/*{licenseImg}?x-oss-process=style/product-normal|">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                <!-- /basic layout -->

            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</body>
</html>