<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>窝立方-重设密码</title>
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <script th:src="@{/resources/js/sign.js}"></script>
    <script th:src="@{/resources/js/signup.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="page-container" style="min-height: 518px;">
    <div class="page-content">
        <div th:replace="fragments/left :: userLeftItem">&nbsp;</div>
        <div class="content-wrapper">
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">修改密码</span></h4>
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                    </div>
                </div>

            </div>

            <div class="content">
                <div class="panel panel-flat r-panel-content">
                    <div class="panel-body">
                        <form id="modifyPassWordForm" method="post" th:action="@{/saveNewPassword}">
                            <input type="hidden" name="token" th:value="${session.token}">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">账号：</label>
                                <div class="col-lg-9">
                                    <span class="help-block" style="color: #333333" th:text="${#authentication.getName()}"></span>
                                    <input type="hidden" th:value="${#authentication.getName()}" id="modifyUsername">
                                </div>
                            </div>

                            <div class="form-group  MobileCode-G" th:if="${ismobile eq true}" th:style="'display: '+${verifyCodeErrors != null || ismobile eq true?'block':'none'}">
                                <label class="col-lg-3 control-label" >验证码：</label>
                                <div class="col-lg-9">
                                    <div class="uploader" style="width: 320px">
                                        <input type="text" class="form-control"  style="width: 65%!important;float: left" id="inputMobileCode" placeholder="验证码" name="verificationCode" />
                                        <button type="button" class="action btn bg-pink-400" id="pwdMobileCode" data-type="1">获取验证码</button>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-lg-3 control-label">密码：</label>
                                <div class="col-lg-9">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="请输入密码" name="password">
                                    <span class="help-block">6~44个字符，格式包括字母、数字、下划线或者横</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">确认密码：</label>
                                <div class="col-lg-9">
                                    <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="请再次输入密码">
                                </div>
                                <span class="help-block"></span>
                            </div>


                            <div class="text-right">
                                <button type="button" class="btn btn-primary" id="sub_modify_pwd">确定修改<i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>