<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>窝立方-我的账户</title>
		<link rel="stylesheet" href="../../../resources/css/styles.css" />
		<link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/css/core.css" />
		<link rel="stylesheet" href="../../../resources/css/home.css" />
		<link rel="stylesheet" href="../../../resources/css/components.css" />
		<link rel="stylesheet" href="../../../resources/css/colors.css" />
		
		<script type="text/javascript" src="../../../resources/js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="../../../resources/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../../../resources/js/home.js" ></script>
		<script src="../../../resources/js/Address.js"></script>
		<script src="../../../resources/js/uploadImage.js" ></script>
	    <script src="../../../resources/js/ImageFile.js" ></script>
	<link href="../../../resources/css/signstyle.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../../resources/css/userinfoplate.css" />
	<script type="text/javascript" src="../../../resources/js/user_pages_profile.js" ></script>
	</head>
	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand">
					<img src="../../../resources/images/logo.png" />
				</a>
			</div>
			
			<div class="navbar-collapse collapse" id="navbar-mobile">
				<ul class="nav navbar-nav">
					<li>
						<a class="sidebar-control sidebar-main-toggle hidden-xs">
							<i class="icon-paragraph-justify3"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<i class="icon-git-compare"></i>
							<span class="visible-xs-inline-block position-right"><font><font>Git的更新</font></font></span>
							<span class="badge bg-warning-400"><font><font>9</font></font></span>
						</a>
						
						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-heading"><font><font>
								Git的更新
								</font></font><ul class="icons-list">
									<li><a href="#"><i class="icon-sync"></i></a></li>
								</ul>
							</div>
	
							<ul class="media-list dropdown-content-body width-350">
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
									</div>
	
									<div class="media-body"><font><font>
										降IE </font></font><a href="#"><font><font>具体黑客</font></font></a><font><font>的时间投入
										</font></font><div class="media-annotation"><font><font>4分钟前</font></font></div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
									</div>
									
									<div class="media-body"><font><font>
										添加字体全覆盖的popovers和工具提示
										</font></font><div class="media-annotation"><font><font>36分钟前</font></font></div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#"><font><font>克里斯Arney</font></font></a><font><font>创建了一个新</font></font><span class="text-semibold"><font><font>设计</font></font></span><font><font>的分支
										</font></font><div class="media-annotation"><font><font>2小时前</font></font></div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#"><font><font>尤金Kopyov</font></font></a><font><font>合并</font></font><span class="text-semibold"><font><font>硕士</font></font></span><font><font>和</font></font><span class="text-semibold"><font><font>开发</font></font></span><font><font>分公司
										</font></font><div class="media-annotation"><font><font>12月18日，18:36</font></font></div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
									</div>
									
									<div class="media-body"><font><font>
										有旋转木马忽略键盘事件
										</font></font><div class="media-annotation"><font><font>12月12日，05:46</font></font></div>
									</div>
								</li>
							</ul>
	
							<div class="dropdown-content-footer">
								<a href="#" data-popup="tooltip" title="" data-original-title="All activity"><i class="icon-menu display-block"></i></a>
							</div>
						</div>
					</li>
				</ul>
				<p class="navbar-text">
					<span class="label bg-success"><font><font class="">线上</font></font></span>
				</p>
				
				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon-bubbles4"></i>
								<span class="visible-xs-inline-block position-right">Messages</span>
								<span class="badge bg-warning-400">2</span>
							</a>
							
							<div class="dropdown-menu dropdown-content width-350">
								<div class="dropdown-content-heading">
									Messages
									<ul class="icons-list">
										<li><a href="#"><i class="icon-compose"></i></a></li>
									</ul>
								</div>
	
								<ul class="media-list dropdown-content-body">
									<li class="media">
										<div class="media-left">
											<img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
											<span class="badge bg-danger-400 media-badge">5</span>
										</div>
	
										<div class="media-body">
											<a href="#" class="media-heading">
												<span class="text-semibold">James Alexander</span>
												<span class="media-annotation pull-right">04:58</span>
											</a>
	
											<span class="text-muted">who knows, maybe that would be the best thing for me...</span>
										</div>
									</li>
	
									<li class="media">
										<div class="media-left">
											<img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
											<span class="badge bg-danger-400 media-badge">4</span>
										</div>
	
										<div class="media-body">
											<a href="#" class="media-heading">
												<span class="text-semibold">Margo Baker</span>
												<span class="media-annotation pull-right">12:16</span>
											</a>
	
											<span class="text-muted">That was something he was unable to do because...</span>
										</div>
									</li>
	
									<li class="media">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
										<div class="media-body">
											<a href="#" class="media-heading">
												<span class="text-semibold">Jeremy Victorino</span>
												<span class="media-annotation pull-right">22:48</span>
											</a>
	
											<span class="text-muted">But that would be extremely strained and suspicious...</span>
										</div>
									</li>
	
									<li class="media">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
										<div class="media-body">
											<a href="#" class="media-heading">
												<span class="text-semibold">Beatrix Diaz</span>
												<span class="media-annotation pull-right">Tue</span>
											</a>
	
											<span class="text-muted">What a strenuous career it is that I've chosen...</span>
										</div>
									</li>
	
									<li class="media">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
										<div class="media-body">
											<a href="#" class="media-heading">
												<span class="text-semibold">Richard Vango</span>
												<span class="media-annotation pull-right">Mon</span>
											</a>
											
											<span class="text-muted">Other travelling salesmen live a life of luxury...</span>
										</div>
									</li>
								</ul>
	
								<div class="dropdown-content-footer">
									<a href="#" data-popup="tooltip" title="" data-original-title="All messages"><i class="icon-menu display-block"></i></a>
								</div>
							</div>
						</li>
	
						<li class="dropdown dropdown-user">
							<a class="dropdown-toggle" data-toggle="dropdown">
								<img src="../../../resources/images/smalluser.png" alt="">
								<span>忆藏枫</span>
								<i class="caret"></i>
							</a>
	
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
								<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
								<li><a href="#"><span class="badge bg-blue pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
								<li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="page-container" style="min-height: 518px;">
			<div class="page-content">
				<div class="sidebar sidebar-main">
					<div class="sidebar-content">
						<div class="sidebar-user-metarial">
							<div class="category-content">
								<div class="sidebar-user-metarial-content">
									<a href="#" class="legitRipple">
										<img class="img-circle img-responsive" src="../../../resources/images/user.png" />
									</a>
									<h6>胡绍波</h6>
									<span class="text-size-small">忆藏枫</span>
								</div>
								<div class="sidebar-user-material-menu">
									<a href="#user-nav" data-toggle="collapse" class="legitRipple"><span><font><font>我的帐户</font></font></span> <i class="caret"></i></a>
								</div>
							</div>
							<div class="navigation-wrapper collapse" id="user-nav" aria-expanded="true">
								<ul class="navigation">
									<li><a href="#" class="legitRipple"><i class="icon-user-plus"></i> <span><font><font>我的简历</font></font></span></a></li>
									<li><a href="#" class="legitRipple"><i class="icon-coins"></i> <span><font><font>我的平衡</font></font></span></a></li>
									<li><a href="#" class="legitRipple"><i class="icon-comment-discussion"></i> <span><span class="badge bg-teal-400 pull-right"><font><font>58</font></font></span><font><font>消息</font></font></span></a></li>
									<li class="divider"></li>
									<li><a href="#" class="legitRipple"><i class="icon-cog5"></i> <span><font><font>帐号设定</font></font></span></a></li>
									<li><a href="#" class="legitRipple"><i class="icon-switch2"></i> <span><font><font>登出</font></font></span></a></li>
								</ul>
							</div>
						</div>
						
						<div class="sidebar-category sidebar-category-visible">
							<div class="category-content no-padding">
								<ul class="navigation">
									<li>
										<a href="#" class="has-ul legitRipple">
											<i class="icon-user"></i>
											<span>我的余额</span>
										</a>
										<ul class="hidden-ul">
											<li>
												<a href="#" class="legitRipple">我的账号</a>
											</li>
											<li>
												<a href="#" class="legitRipple">重设密码</a>
											</li>
											<li>
												<a href="#" class="legitRipple">认证审核</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="has-ul legitRipple">
											<i class="icon-paperplane"></i>
											<span>品牌管理</span>
										</a>
										<ul class="hidden-ul">
											<li>
												<a href="#" class="legitRipple">品牌列表</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="has-ul legitRipple">
											<i class="icon-newspaper2"></i>
											<span>方案管理</span>
										</a>
										<ul class="hidden-ul">
											<li>
												<a href="#" class="legitRipple">方案列表</a>
											</li>
											<li>
												<a href="#" class="legitRipple">cad导入</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="has-ul legitRipple">
											<i class="icon-store2"></i>
											<span>商品管理</span>
										</a>
										<ul class="hidden-ul">
											<li>
												<a href="#" class="legitRipple">商品列表</a>
											</li>
											<li>
												<a href="#" class="legitRipple">模型列表</a>
											</li>
											<li>
												<a href="#" class="legitRipple">制作模型</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="has-ul legitRipple">
											<i class="icon-circles2"></i>
											<span>推荐位展示</span>
										</a>
										<ul class="hidden-ul">
											<li>
												<a href="#" class="legitRipple">推荐位设置</a>
											</li>
											<li>
												<a href="#" class="legitRipple">统计</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#" class="has-ul legitRipple">
											<i class="icon-circles2"></i>
											<span>财务</span>
										</a>
										<ul class="hidden-ul">
											<li>
												<a href="#" class="legitRipple">我的余额</a>
											</li>
											<li>
												<a href="#" class="legitRipple">充值/提现</a>
											</li>											
											<li>
												<a href="#" class="legitRipple">发票</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="content-wrapper">
					<div class="panel panel-flat">
											<div class="panel-heading">
												<h6 class="panel-title">Profile information<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
												<div class="heading-elements">
													<ul class="icons-list">
								                		<li><a data-action="collapse"></a></li>
								                		<li><a data-action="reload"></a></li>
								                		<li><a data-action="close"></a></li>
								                	</ul>
							                	</div>
											</div>

											<div class="panel-body">
												<form action="#">
													<div class="form-group">
														<div class="row">
															<div class="col-md-6">
																<label>Username</label>
																<input type="text" value="Eugene" class="form-control">
															</div>
															<div class="col-md-6">
																<label>Full name</label>
																<input type="text" value="Kopyov" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-6">
																<label>Address line 1</label>
																<input type="text" value="Ring street 12" class="form-control">
															</div>
															<div class="col-md-6">
																<label>Address line 2</label>
																<input type="text" value="building D, flat #67" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-4">
																<label>City</label>
																<input type="text" value="Munich" class="form-control">
															</div>
															<div class="col-md-4">
																<label>State/Province</label>
																<input type="text" value="Bayern" class="form-control">
															</div>
															<div class="col-md-4">
																<label>ZIP code</label>
																<input type="text" value="1031" class="form-control">
															</div>
														</div>
													</div>

													<div class="form-group">
														<div class="row">
															<div class="col-md-6">
																<label>Email</label>
																<input type="text" readonly="readonly" value="eugene@kopyov.com" class="form-control">
															</div>
															<div class="col-md-6">
									                            <label>Your country</label>
									                            <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
									                                <option value="germany" selected="selected">Germany</option> 
									                                <option value="france">France</option> 
									                                <option value="spain">Spain</option> 
									                                <option value="netherlands">Netherlands</option> 
									                                <option value="other">...</option> 
									                                <option value="uk">United Kingdom</option> 
									                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-33xn-container"><span class="select2-selection__rendered" id="select2-33xn-container" title="Germany">Germany</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
															</div>
														</div>
													</div>

							                        <div class="form-group">
							                        	<div class="row">
							                        		<div class="col-md-6">
																<label>Phone #</label>
																<input type="text" value="+99-99-9999-9999" class="form-control">
																<span class="help-block">+99-99-9999-9999</span>
							                        		</div>

															<div class="col-md-6">
																<label class="display-block">Upload profile image</label>
							                                    <div class="uploader"><input type="file" class="file-styled"><span class="filename" style="-webkit-user-select: none;">No file selected</span><span class="action btn bg-warning" style="-webkit-user-select: none;">Choose File</span></div>
							                                    <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
															</div>
							                        	</div>
							                        </div>

							                        <div class="text-right">
							                        	<button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
							                        </div>
												</form>
											</div>
										</div>

									</div>
				</div>
			</div>
		</div>
	</body>
</html>
