<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <meta name="_csrf_header" th:attr="content=${_csrf.headerName}"/>
    <title>商家后台-用户注册</title>
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <link rel="stylesheet" th:href="@{/resources/css/signstyle.css}"/>
    <script th:src="@{/resources/js/sign.js}"></script>
    <script th:src="@{/resources/js/signup.js}"></script>
</head>
<body class="login-bgi  login-container">
<div th:replace="fragments/signHead :: header"></div>
<div class="page-container" style="min-height:593px">

    <!-- Page content -->
    <div class="page-content">
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">
                <form id="modifyPassWordForm" method="post" th:action="@{/saveNewPassword}">
                    <input type="hidden" name="token" th:value="${session.token}">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                            <h5 class="content-group">忘记密码</h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left div-input-sign">
                            <div class="i-sign">
                                <i class="icon-user text-muted"></i>
                            </div>
                            <label th:text="${user.username}" style="line-height: 36px"></label>
                            <input type="hidden" th:value="${user.username}" name="username">
                        </div>

                        <div class="form-group has-feedback has-feedback-left div-input-sign">
                            <div class="i-sign">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                            <input type="password" pattern="^[a-z0-9_-]{6,44}$" class="input-sign" id="inputPassword" placeholder="请输入新密码" name="password" required/>
                            <span class="help-block" th:if="${user.password!=null}" th:text="${#fields.hasErrors('password')?'密码格式错误':'字符串、数字、下划线或者横'}" th:style="'color:'+${#fields.hasErrors('password')?'red':'#737373'}">Incorrect password</span>
                        </div>
                        <div class="form-group has-feedback has-feedback-left div-input-sign">
                            <div class="i-sign">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                            <input type="password" pattern="^[a-z0-9_-]{6,44}$" class="input-sign" id="inputPasswordConfirm" placeholder="请确认新密码"
                                   data-match="#inputPassword" data-match-error="密码不一致" required/>
                            <span class="help-block"></span>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn bg-blue btn-block">下一步</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</body>
</html>