<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <meta name="_csrf_header" th:attr="content=${_csrf.headerName}"/>
    <title>商家后台-用户注册</title>
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <link rel="stylesheet" th:href="@{/resources/css/signstyle.css}"/>
    <script th:src="@{/resources/js/sign.js}"></script>
    <script th:src="@{/resources/js/signup.js}"></script>
</head>
<body class="login-bgi  login-container">
<div th:replace="fragments/signHead :: header"></div>
<div class="page-container" style="min-height:593px">

    <!-- Page content -->
    <div class="page-content">
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">
                <form id="retrieve-form" method="post" th:action="@{/retrieveNewPassword}">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                            <h5 class="content-group">忘记密码</h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left div-input-sign">
                            <div class="i-sign">
                                <i class="icon-user text-muted"></i>
                            </div>
                            <input type="text" title="请输入手机或者邮箱" pattern="(^[0-9]{11}$)|(^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$)"  class="input-sign" id="modifyUsername" placeholder="请输入手机/邮箱" name="username" required/>
                            <span class="help-block" th:text="${subUserErrors!=null ? '该账号为子账号不能修改密码':''}"></span>
                        </div>

                        <div class="form-group has-feedback has-feedback-left MobileCode-G" th:style="'display: '+${verifyCodeErrors != null?'block':'none'}">
                            <input type="text" class="form-control"  style="width:55%!important;float: left" id="inputMobileCode" placeholder="验证码" name="verificationCode" />
                            <div class="col-lgi" style="margin-bottom: 20px" >
                                <button type="button" class="btn btn-default" id="pwdMobileCode" data-type="1">获取验证码</button>
                            </div>
                            <span class="help-block" th:text="${verifyCodeErrors != null?verifyCodeErrors:''}" th:style="'float:left;width:100%;color:'+${verifyCodeErrors != null?'red':'#737373'}"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn bg-blue btn-block">下一步</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</body>
</html>