<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>窝立方</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <link rel="stylesheet" th:href="@{/resources/css/userPay.css}" />
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="pay-body">
    <div class="pay-info">
        <div class="r-pay">
            <img th:src="@{/resources/images/pay.jpg}">
        </div>
        <div class="pay-info-c">
            <h2 class="pay-info-title">订阅高级功能</h2>
            <div class="pay-validity">
                <p>
                    <div class="pay-type-s">
                        <span>月费：一个月<strong>¥ 0.01</strong></span>
                    </div>
                </p>
            </div>
            <div class="text-right">
                <form th:action="@{/paySettlement}">
                <button type="submit" class="btn btn-primary">支付宝下一步 <i class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
            <div class="text-right">
                <form th:action="@{/payScanCode}">
                    <button type="submit" class="btn btn-primary">支付宝扫码下一步 <i class="icon-arrow-right14 position-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</body>
</html>