<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <meta name="_csrf_header" th:attr="content=${_csrf.headerName}"/>
    <title>窝立方</title>
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <link rel="stylesheet" th:href="@{/resources/css/signstyle.css}"/>
    <script th:src="@{/resources/js/sign.js}"></script>
    <script th:src="@{/resources/js/signup.js}"></script>
</head>
<body class="login-bgi  login-container">
<div th:replace="fragments/signHead :: header"></div>
<div class="page-container" style="min-height:593px">

    <!-- Page content -->
    <div class="page-content">
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="panel registration-form" style="height: 600px">
                        <fieldset>
                            <div class="form-group" style="text-align: center;margin-top: 200px">
                                <span>已发送邮件，请前往邮箱点击链接重设密码。 </span>
                            </div>
                            <div class="form-group">
                                <div style="text-align: center">
                                    <a data-th-href="|http://${user.username}|"  style="margin: 0 auto">前往邮箱</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</body>
</html>