<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>窝立方-商品审核</title>
    <link href="../../../resources/css/manager.css" rel="stylesheet" media="screen" th:href="@{/resources/css/manager.css}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../resources/css/pagination.css" rel="stylesheet" media="screen" th:href="@{/resources/css/pagination.css}"/>
    <link href="../../../resources/css/fileinput.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/fileinput.min.css}"/>
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/productaudit.js" th:src="@{/resources/js/productaudit.js}"></script>
    <script src="../../../resources/js/manager.js" th:src="@{/resources/js/manager.js}"></script>
    <script src="../../../resources/js/uploadImage.js" th:src="@{/resources/js/uploadImage.js}"></script>
    <script src="../../../resources/js/ImageFile.js" th:src="@{/resources/js/ImageFile.js}"></script>
    <script src="../../../resources/js/fileinput.min.js" th:src="@{/resources/js/fileinput.min.js}"></script>
    <script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
    <link rel="stylesheet" href="../../resources/css/select2.min.css" type="text/css" />
    <script type="text/javascript" src="../../resources/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../resources/css/jquery.tagsinput.css" />
    <script type="text/javascript" src="../../../resources/js/jquery.tagsinput.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>

</head>

<body>

<div class="navbar navbar-inverse" th:replace="fragments/header :: header">
    heah
</div>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div th:replace="fragments/leftmanager :: leftmanager"></div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-default">
                <div class="page-header-content">
                    <div class="page-title">
                        <h3 data-th-text="管理员页面"></h3>
                    </div>

                    <div class="heading-elements">
                        <div class="heading-btn-group hidden">
                            <a href="#" class="btn btn-link btn-float has-text"><i
                                    class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                            <a href="#" class="btn btn-link btn-float has-text"><i
                                    class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                            <a href="#" class="btn btn-link btn-float has-text"><i
                                    class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
                        </div>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb" style="float: left;">
                        <li class="active"><a href="#"><i class="icon-arrow-right8 position-left"></i>商品审核</a></li>

                    </ul>


                </div>
            </div>
            <!-- /page header -->


            <div class="content">
                <div class="panel">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="middlebody row ">
                           <!-- <form class="righttable col-lg-12 col-xs-12 col-sm-12 col-md-12 " method="get"
                                  id="mainform" th:action="@{/productaudit}">-->
                                <div class="pull-right">
                                    <table class="searchbox1">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div id="header-wrap" class="header-wrap ">
                                                    <div class="header-bd" id="look1">
                                                        <p th:if="${page.totalNumber} != null"
                                                           th:text="|共${page.totalNumber}条|"></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="padding-left: 300px">
                                                <form th:href="@{/productaudit}" method="post">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="模糊搜索"
                                                               name="title" th:value="${title}" th:id="title"/>
                                                        <input class="hidden" th:value="${flag}" name="flag" id="flag"/>
                                                        <input class="hidden" th:value="${num}" name="num" id="num"/>
                                                        <input class="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-warning"
                                                                    th:flag="${flag}" th:num="${num}" th:url="audit"
                                                                    type="submit">搜索</button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </form>
                                            </td>
                                            <td style="padding-left: 20px">
                                                <label style="padding-top: 8px;"><span></span>
                                                    <select class="btn btn-ms btn-default"
                                                            onchange="numsearch(this,options[selectedIndex].value)"  th:flag="${flag}"
                                                            style="padding-left: 4px">
                                                        <option th:text="${num}">选择页数</option>
                                                        <option value="/productaudit?num=10">10</option>
                                                        <option value="/productaudit?num=50">50</option>
                                                        <option value="/productaudit?num=100">100</option>
                                                        <option value="/productaudit?num=300">300</option>
                                                        <option value="/productaudit?num=600">600</option>
                                                    </select>
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="middlebar col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="righttable col-lg-12 col-xs-12 col-sm-12 col-md-12 " align="center">
                                        <div class="tabtable">
                                            <ul class="nav nav-tabs">
                                                <li th:class="${flag == 1}?'active':''"><a th:href="@{/productaudit?(flag=1,num=${num})}">未认证</a></li>
                                                <li th:class="${flag == 2}?'active':''"><a th:href="@{/productaudit?(flag=2,num=${num})}">已认证</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade " id="tab1"
                                                     th:class="${flag == 1}?'tab-pane fade in active':'tab-pane fade'">
                                                    <div class="text-left ">
                                                        <table class="table table-striped table-hover" id="data">
                                                            <thead>
                                                            <tr>
                                                                <th><a th:href="@{/productaudit?(flag1=(${flag1} != 6)?6:7,num=${num})}" class="label label-success">商品ID</a>
                                                                    <i th:class="${flag1} == 7?'icon-arrow-up-right3':'hidden'"></i>
                                                                    <i th:class="${flag1} == 6?'icon-arrow-down-right3':'hidden'"></i>
                                                                </th>
                                                                <th><a th:href="@{/productaudit?(flag1=(${flag1} != 2)?2:3,num=${num})}" class="label label-success">商品款式</a>
                                                                    <i th:class="${flag1} == 2?'icon-arrow-up-right3':'hidden'"></i>
                                                                    <i th:class="${flag1} == 3?'icon-arrow-down-right3':'hidden'"></i></th>
                                                                <th><a th:href="@{/productaudit?(flag1=(${flag1} != 4)?4:5,num=${num})}" class="label label-success">商品名称</a>
                                                                    <i th:class="${flag1} == 4?'icon-arrow-up-right3':'hidden'"></i>
                                                                    <i th:class="${flag1} == 5?'icon-arrow-down-right3':'hidden'"></i></th>
                                                                <th>商品描述</th>
                                                                <th>商品图片</th>
                                                                <th><a th:href="@{/productaudit?(flag1=(${flag1} != 0)?0:1,num=${num},flag=${flag})}" class="label label-success">提交时间</a>
                                                                    <i th:class="${flag1} == 1?'icon-arrow-up-right3':'hidden'"></i>
                                                                    <i th:class="${flag1} == 0?'icon-arrow-down-right3':'hidden'"></i>
                                                                </th>
                                                                <th>上架</th>
                                                                <th><a th:href="@{/productaudit?(flag1=(${flag1} != 8)?8:9,num=${num},flag=${flag})}" class="label label-success">状态</a></th>
                                                                <th>操作</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>   <!--未审核表格-->
                                                            <tr th:each="unaudit,unauditStat:${unauditList}"
                                                                id="unaudit"
                                                                th:value="${unauditList}">
                                                                <td th:text="${unaudit.productId}">佛山市螺丝科技</td>
                                                                <td th:text="${unaudit.styleName}">黄先生</td>
                                                                <td th:text="${unaudit.productName}">18668899221</td>
                                                                <td th:text="${unaudit.description}">0757-91988223</td>
                                                                <td>
                                                                    <img src="" id="planImg"
                                                                         class="img-thumbnail btn imgpath"
                                                                         data-toggle="modal"
                                                                         th:imgpath="${unaudit.introduceImg}"
                                                                         th:imgurl="${imgurl.IMGPREFIX}"
                                                                         th:imgsufix="${imgurl.IMGSUFIX}"
                                                                         />
                                                                </td>
                                                                <td th:text="${unaudit.lastModified}">2016-11-25
                                                                    15:38:48
                                                                </td>
                                                                <td th:text="${unaudit.productstatus}"></td>
                                                                <td th:text="${unaudit.certificationStatus}"></td>
                                                                <td><a onclick="pass(this)"
                                                                       class="label-success label"
                                                                       th:productId="${unaudit.productId}"
                                                                       th:text="通过" id="productId">通过</a>
                                                                    <span></span>
                                                                    <a th:cn="${unaudit.productName}"
                                                                       th:class="${unaudit.certificationStatus} == '认证中'?'veto label-danger label':'hidden'"
                                                                       id="companyNameveto">否决</a>
                                                                </td>
                                                                    <!--th:cn="${audit.comanyName}"  th:href="@{/audit/pass?(certificationId=${unaudit.certificationId})}"-->
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                <div class="tab-pane fade" id="tab2"
                                                     th:class="${flag == 2}?'tab-pane fade in active':'tab-pane fade'">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th><a th:href="@{/productaudit?(flag1=(${flag1} != 6)?6:7,num=${num},flag=${flag})}" class="label label-success">商品ID</a>
                                                                <i th:class="${flag1} == 6?'icon-arrow-up-right3':'hidden'"></i>
                                                                <i th:class="${flag1} == 7?'icon-arrow-down-right3':'hidden'"></i>
                                                            </th>
                                                            <th><a th:href="@{/productaudit?(flag1=(${flag1} != 2)?2:3,num=${num},flag=${flag})}" class="label label-success">商品款式</a>
                                                                <i th:class="${flag1} == 2?'icon-arrow-up-right3':'hidden'"></i>
                                                                <i th:class="${flag1} == 3?'icon-arrow-down-right3':'hidden'"></i>
                                                            </th>
                                                            <th><a th:href="@{/productaudit?(flag1=(${flag1} != 4)?4:5,num=${num},flag=${flag})}" class="label label-success">商品名称</a>
                                                                <i th:class="${flag1} == 4?'icon-arrow-up-right3':'hidden'"></i>
                                                                <i th:class="${flag1} == 5?'icon-arrow-down-right3':'hidden'"></i>
                                                            </th>
                                                            <th>商品描述</th>
                                                            <th>商品图片</th>
                                                            <th><a th:href="@{/productaudit?(flag1=(${flag1} != 0)?0:1,num=${num},flag=${flag})}" class="label label-success">提交时间</a>
                                                                <i th:class="${flag1} == 1?'icon-arrow-up-right3':'hidden'"></i>
                                                                <i th:class="${flag1} == 0?'icon-arrow-down-right3':'hidden'"></i>
                                                            </th>
                                                            <th>上架</th>
                                                            <th>状态</th>
                                                            <th>操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>  <!--已审核表格-->
                                                        <tr th:each="audit,auditStat:${auditList}">
                                                            <td th:text="${audit.productId}">佛山市螺丝科技</td>
                                                            <td th:text="${audit.styleName}">黄先生</td>
                                                            <td th:text="${audit.productName}">18668899221</td>
                                                            <td th:text="${audit.description}">0757-91988223</td>
                                                            <td>
                                                                <img src="" id="planImg2"
                                                                     class="img-thumbnail btn imgpath"
                                                                     data-toggle="modal"
                                                                     th:imgpath="${audit.introduceImg}"
                                                                     th:imgurl="${imgurl.IMGPREFIX}"
                                                                     th:imgsufix="${imgurl.IMGSUFIX}"
                                                                     />
                                                            </td>
                                                            <td th:text="${audit.lastModified}">2016-11-25
                                                                15:38:48
                                                            </td>
                                                            <td>
                                                                <a class="label-success label" onclick="show(this)" th:productId2="${audit.productId}"
                                                                   th:text="${audit.productstatus}">上架</a>
                                                                <!-- 模态框（Modal） -->
                                                                <div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="putaway" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                <h4 class="modal-title" id="putaway">上架</h4>
                                                                            </div>
                                                                            <form id="changestatus" enctype="multipart/form-data" method="post">
                                                                                <div class="modal-body">
                                                                                    <div class="form-group">
                                                                                        <label class="radio-inline hidden">
                                                                                            <input type="text" id="productId2" name="productId2">试上架
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" value="0" name="productstatus">试上架
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" value="1" name="productstatus">正式上架
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                                <button type="button" class="btn btn-primary" onclick="putaway()" >确定</button>
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal -->
                                                                </div>

                                                            </td>
                                                            <td th:text="${audit.certificationStatus}">认证失败</td>
                                                            <td>
                                                                <a onclick="change(this)"
                                                                   th:url="productaudit"
                                                                   class="label-warning label"
                                                                   th:id="productId"
                                                                   th:certificationId="${audit.productId}"
                                                                   th:status="认证中"
                                                                   th:text="取消认证" >取消认证</a>
                                                                <span></span>
                                                                <a th:class="${audit.productstatus} == '正式上架'? 'hidden':'label-success label edit'"
                                                                   th:productId="${audit.productId}"
                                                                   th:productName="${audit.productName}"
                                                                   th:description="${audit.description}"
                                                                   th:styleId="${audit.styleId}"
                                                                   th:typeId="${audit.typeId}"
                                                                   th:attachType="${audit.attachType}"
                                                                   th:rotateType="${audit.rotateType}"
                                                                   th:scaleX="${audit.scaleX}"
                                                                   th:scaleY="${audit.scaleY}"
                                                                   th:scaleZ="${audit.scaleZ}"
                                                                   th:tagNames="${audit.tagNames}"
                                                                   th:text="编辑">编辑</a>
                                                                <!-- 模态框（Modal） -->
                                                                <div class="modal fade" id="myModaledit" tabindex="-1"
                                                                     role="dialog" aria-labelledby="myModalLabeledit"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-hidden="true">&times;</button>
                                                                                <h4 class="modal-title"
                                                                                    id="productIdedit" ></h4>
                                                                            </div>
                                                                            <form  enctype="multipart/form-data" method="post" >
                                                                                <div class="modal-body">
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">名称</label>
                                                                                        <div class="col-md-10">
                                                                                            <input class="form-control" id="productNameedit"  type="text" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">描述</label>
                                                                                        <div class="col-md-10">
                                                                                            <input class="form-control" id="descriptionedit"  type="text" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">风格</label>
                                                                                        <div class="col-md-10">
                                                                                            <select name="styleId" id="styleIdedit" class="form-control" >
                                                                                                <option>全部</option>
                                                                                                <option data-th-each="style,styleIndex:${styleList}" data-th-value="${style.styleId}" data-th-text="${style.styleName}"></option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">种类</label>
                                                                                        <div class="col-md-10">
                                                                                            <select name="typeId" id="typeIdedit" class="form-control">
                                                                                                <option>全部</option>
                                                                                                <option data-th-each="type,typeIndex:${typeList}" data-th-value="${type.typeId}" data-th-text="${type.typeName}">地面</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">粘附</label>
                                                                                        <div class="col-md-10">
                                                                                            <select class="form-control" name="attachType" id="attachTypeedit">
                                                                                                <option>全部</option>
                                                                                                <option value="1" >粘附地板</option>
                                                                                                <option value="2" >粘附桌面</option>
                                                                                                <option value="4" >粘附天花板</option>
                                                                                                <option value="8" >粘附墙体</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">旋转</label>
                                                                                        <div class="col-md-10">
                                                                                            <select class="form-control" name="rotateType" id="rotateTypeedit">
                                                                                                <option>全部</option>
                                                                                                <option value="1">可旋转</option>
                                                                                                <option value="0">不旋转</option>
                                                                                            </select>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">缩放</label>
                                                                                        <div class="col-md-3">
                                                                                            <label class="control-label col-md-3">X</label>
                                                                                            <select class="form-control" name="scaleX" id="scaleXedit">
                                                                                                <option>全部</option>
                                                                                                <option value="0">不缩放</option>
                                                                                                <option value="1">拉伸</option>
                                                                                                <option value="2">填充</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="col-md-3">
                                                                                            <label class="control-label col-md-3">Y</label>
                                                                                            <select class="form-control" name="scaleY" id="scaleYedit">
                                                                                                <option>全部</option>
                                                                                                <option value="0">不缩放</option>
                                                                                                <option value="1">拉伸</option>
                                                                                                <option value="2">填充</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <div class="col-md-3">
                                                                                            <label class="control-label col-md-3">Z</label>
                                                                                            <select class="form-control" name="scaleZ" id="scaleZedit">
                                                                                                <option>全部</option>
                                                                                                <option value="0">不缩放</option>
                                                                                                <option value="1">拉伸</option>
                                                                                                <option value="2">填充</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">标签</label>
                                                                                        <div class="col-md-10" >
                                                                                            <select  multiple="multiple" class="form-control"  id="tagsinputedit">
                                                                                                <option data-th-each="tag,tagsIndex:${tagsList}" data-th-value="${tag.tagName}" data-th-text="${tag.tagName}" >地面</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="md-col">
                                                                                        <label class="control-label col-md-2">预览图</label>
                                                                                        <div class="col-md-10">
                                                                                            <input name="ImgFile" id="ImgFileedit"  type="file" class="file"/>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                                                        <button type="button" class="btn btn-primary" onclick="doEdit()">提交</button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal -->
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--楼下分页-->
                                            <div th:replace="fragments/page :: productaudit" ></div>
                                        </div>
                                    </div>
                                </div>
                            <!--</form>-->
                        </div>
                    </div>
                </div>
            </div>

            <!--页脚-->
            <div th:replace="fragments/footer :: footer" class="col-lg-12">
                &copy; 2013 The Static Templates
            </div>
        </div><!--content-wrapper-->
    </div>
    <!-- /main content -->


</div>
<!-- /page content -->

</div>
<!-- /page container -->


</body>
</html>