<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>主页</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../resources/css/home.css" />
    <script src="../../../resources/js/jquery-3.1.1.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../../resources/js/home.js"></script>
</head>
<body>

<nav class="navigation navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img id="brand" class="img-responsive" alt="Brand" src="/uploads/161101/crunch_brand.png">
            </a>
            <h1 id="crunch" class="navbar-text">CRUNCH </h1>

        </div>
        <button id="navButton" class="navbar-text navbar-right btn btn-info">crunch debt</button>
        <a href="#">
            <p id="menuText" class="navbar-text navbar-right">login</p>
        </a>
        <a href="#">
            <p id="menuText" class="navbar-text navbar-right">pricing</p>
        </a>
        <a href="#">
            <p id="menuText" class="navbar-text navbar-right">features</p>
        </a>

    </div>
</nav>

<!-- Header Banner -->
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 class="animated bounceInDown">Find freedom from finanical debt</h1>

                    <ul class="list-inline intro-social-buttons" id="headerButton">
                        <li>
                            <button href="#" id="button" class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name">START RIGHT HERE</span>
                            </button>
                        </li>

                    </ul>
                    <div id="empty"> </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->


</div>

<!-- Page Content -->

<!-- /.content-section-a -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                <div class="clearfix"></div>
                <h2 class="section-heading">Header 1</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <!-- /.image credit: simple.com -->

                <img class=" img-responsive" src="/uploads/161101/simple-kit.png" id="responsive" alt="" />
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">



                <h2 class="section-heading">Header 2</h2>
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/uploads/161101/crunch_money.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-c -->

<div class="content-section-c">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                <h2 class="section-heading">Header 3</h2>

                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/uploads/161101/pexels-photo-57825-medium.jpeg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<!-- /.content-section-d -->

<div class="content-section-d">

    <div class="container">

        <div class="row">

            <div class="col-lg-5 col-sm-6">

                <h2 class="section-heading-white">Header 4</h2>

                <hr class="section-heading-spacer-white">
                <div class="clearfix"></div>
                <p class="lead-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <button href="#" id="button-white" class="animated bounceInUp btn btn-info btn-lg"> <span class="network-name">CRUNCH DEBT TODAY</span>
                </button>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="phone img-responsive" src="/uploads/161101/crunch_phone_computer.png" alt="">

            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">

            <p class="copyright text-muted small">Copyright &copy; Michael Mangialardi 2016. All Rights Reserved</p>

        </div>
    </div>
</footer>

</body>
</html>