<head th:fragment="link">
    <meta name="_csrf" th:attr="content=${_csrf.token}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../resources/css/core.css" />
    <!-- /global stylesheets -->

    <link rel="icon" type="image/x-icon" href="../../../resources/images/favicon.ico">
    <link rel="stylesheet" href="../../../resources/css/styles.css" />
    <link rel="stylesheet" href="../../../resources/css/home.css" />
    <link rel="stylesheet" href="../../../resources/css/components.css" />
    <link rel="stylesheet" href="../../../resources/css/colors.css" />

    <!-- Core JS files -->
    <script type="text/javascript" src="../../../resources/js/pace.min.js" ></script>
    <script type="text/javascript" src="../../../resources/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" src="../../../resources/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="../../../resources/js/home.js" ></script>
    <script type="text/javascript" src="../../../resources/js/blockui.min.js" ></script>
    <!-- /core JS files -->
    <script type="text/javascript" src="../../../resources/js/app.js" ></script>
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">
    <link href="../../../resources/css/styles.css" rel="stylesheet" type="text/css">
    <link href="../../../resources/css/bootstrap.css" rel="stylesheet" type="text/css">

</head>